
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: bisque;
}

header {
    background-color:sandybrown;
    color: brown;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li { 
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: #fff;
}

section  h2 {
    color: white;
    border: 2px solid #F1EAFF;
    padding: 10px;
    background-color: sandybrown;
    border-radius: 15px;
    margin-left: -15px;
   

}

section p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul li {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




